html,
body,
* {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Bitter", serif;
}
:root {
  /*in the root of the project (html/body), we are going to define smth (colors) */
  --black: #000;
  --white: #ffffff;
  --color1: #fff7eb;
  --color2: #bd4f40;
  --color3: #d18375;
  --color4: #c12612c7;

  /*Intentions*/
  --primary: var(--color1);
  --secondary: var(--color2);
  --tertiary: var(--color3);

  /*Typography*/
  --h1: 7.594rem;
  --h2: 4.813rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

h1 {
  font-size: var(--h1);
  color: var(--secondary);
}
h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
body {
  background-color: var(--primary);
}
label {
  font-size: var(--h2);
}
input,
select,
button {
  font-size: var(--h3);
}
.player-card {
  margin: 5rem auto;
  border: solid 1rem var(--black);
}
button,
button:link,
button:visited {
  font-size: var(--h3);
  margin: 2rem 2rem;
  width: 7%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: solid 0.4rem var(--tertiary);
  border-radius: 2rem;
  background-color: var(--white);
  display: inline-block;
  transition: all 0.2s;
}
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 1rem rgba(0, 0, 0, 0.2);
}
select {
  width: 20rem;
}
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
